.main-column {
  width: 940px;
  margin: 30px auto 0 auto;
}
a {
  color: #00F;
  text-decoration: none
}
.index {
  width: 1200px;
}
.group, .point {
  background-color: #EAEAEA;
}
.group .wrong-matching {
  color: #EE0000;
}
.point {
  width: 10.5em;
  height: 6em;
}
.point.success {
  background-color: #D3FFB8;
}
.point.failure {
  background-color: #FFC9B8;
}
.reason {
  font-weight: bold;
}
.disabled {
  color: gray;
}
.overriden a {
  color: gray;
}
.testing {
  color: red;
}
.running-short {
  color: red;
}
.running-long {
  color: green;
}
.shadow {
  -webkit-box-shadow: 1px 6px 6px #ccc;
  -moz-box-shadow: 1px 6px 6px #ccc;
}
.tooltip {
  position: relative;
}
.tooltip span.shadow {
  position: absolute;
  margin-left: -999em;
}
.tooltip:hover span.shadow {
  position: absolute;
  margin-left: -0.5em;
  left: -10.5em;
  top: -0.2em;
  z-index: 99;
  background: #fff;
  width: 11em;
  height: 8em;
}
.topstats {
  position: absolute;
  top: 10px;
  left: 50%;
  border-left: 1px solid gray;
  padding-left: 5px;
}
.stats {
  padding-top: 2em;
  color: grey;
}
